<div class="coaching-card">
  <h1>Stupid coaching</h1>
  <div id="question-card"><p><%= @question %></p></div>
  <div id="answer-card"><p><%= @answer %></p></div>
  <p class="link"><%= link_to 'Ask the coach another question', ask_path %></p>
</div>
