<h1>Stupid coaching</h1>
<h3>Ask your coach anything</h3>
<p></p>

<form action="/answer">
  <input type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
