// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

body {
  background: $gray; // Using this variable
  font-family: Roboto;
  font-weight: 300;
  padding: 0 24px
}

h1 {
  font-weight: 400;
}

blockquote {
  border-left: 6px solid #ddd;
  margin: 75px 0;
  padding: 25px 50px;

  &.coach {
    background-color: lightyellow;
    p { font-weight: 400; }
  }
}

cite:before {
  content: "-"
}



